html{ scroll-behavior:smooth;}
body{
    background-color: black;
 }
 nav{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   font-size: larger;
}
nav img{
    width: 150px;
    height: 150px; ;
}
nav h1{
   color: white  ;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
   font-size: 30px;
}
.head{
   margin-top: 3px;
   margin-left: 500px;
}
.head a{
text-decoration: none ;
color: white;
margin-right: 10px;
border-bottom: 1px solid black ;
padding-bottom: 5px ;

}
/**/
 header{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }
 .titlebox{
background-color: white;
position: absolute;
z-index: 999;
padding: 50px;
box-shadow: 5px 20px 50px 6px black;

}

 header h1,header p,li{
    font-family: Kenia;
   
}
header h1{ font-size: 60px;text-align: center;}
header p{ font-size: 50px; text-align: center;}
/*slider*/
.slides{
   display: flex ;
   align-items: center;
   flex-direction: row;
   justify-content: center;
   animation: glisse 5s infinite;
   
}
.slide{opacity: ;}
img{
   display: flex;
   text-align: center;
   width: 700px;
   height: 500px;
   padding: 0;
   margin:0;

}
@keyframes glisse{
   0% {  transform: translateX(0);}
   10%{ transform: translateX(0);}
   33%{transform: translateX(-400px);}
   66%{ transform: translateX(-400px);}
   100%{transform: translateX(0);}

}

/* nav menu*/
.section{
   width:100%;
   display: flex;
   position: center;
   justify-content: center;
   transform: translateY(-130);
}
.menu ul li:hover{
transform: scale(0.95);
transform: 0.3s all ;

}
.menu ul{
   display: flex;
}
.menu ul li {
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content: center;
}
.menu ul li a{
   color: black;
   font-size: 70px;
   text-decoration: none;
   text-align: center;
}
.tailleimg{
   height: 300px;
   width: 500px;
   flex: 1;

   
}

.pizza{ 
   background-image: url(images/pizza-banner.jpg) ;
background-size:cover; background-position: center;
background-repeat: no-repeat;
}
.salade{
    background-image: url(images/salade-banner.jpg);
background-size: cover; background-position: center;
background-repeat: no-repeat;;
}
.burger{ 
   background-image: url(images/burger-banner.jpg);
background-size: cover;
background-position: center;
}
.boisson{
    background-image: url(images/boisson-banneer.jpg);
background-size: cover;}
/*section*/
.plat{
   display: flex;
   align-items: center;
   background-color: white;
   background-position: center;
   margin: 10px;;
   display: flex;
   cursor: pointer;
   transform: 0.3s all;
   width: 50%;
 
}
.plat:hover{
   transform: scale(1.1);
   transition: 0.3s all;
}
.info{
   padding: 20px;
   line-height: 40px;
}
.plat:hover{
   box-shadow: 5px 20px 50px 6px black;

}
.info h3{font-size: 30px;}
.info hr{
   margin: 10px 0px 10px 0;
}
.prix{
   font-weight: bold;
   font-size: 22px;
}
section{
   padding: 100px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section img{
   width: 400px;
   height:  300px;
}
/**/
footer {
   margin-top: 40px;
   background-color: black;
   color: white;
   padding: 30px 100px;
}
footer h1{
   border-bottom: 1px solid white;
   width: 20%;
   padding-bottom: 5px;
}
footer .services{
   margin-top: -10px;
   display: flex;
   flex-wrap: wrap;
}
footer .services .serv { 
margin-right: 30px;
padding: 10px;
}
footer .services .serv p{
   max-width: 300px;
}
footer a{
   width: 100px;
   height: 300px;
}
footer #contact{
   color: red;
}
ion-icon{
   width:50px;
   height: 50px;
   color: white;
}
label {
            
   display: inline-block;
   width:100px;
 }
 input { 
   padding: 5px 5px;}
